# All dot files except .git
.*
!.git*

# Binaries and temporary files
[Oo]t*/
[Bb]in*/
[Bb]uild*/

# vcpkg installed
vcpkg_installed

# User-specific files
*.user
*.user.props
*.nvuser
CMakeUserPresets.json